# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.



#####################################################################
# 	MCU
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4D003C000B50345033313820-if00
# serial: /dev/ttyAMA0
# restart_method: command


[printer]
kinematics: cartesian
max_velocity: 180
max_accel: 1250
max_z_velocity: 12
max_z_accel: 400


[input_shaper]
shaper_freq_x: 54
shaper_freq_y: 21.9
shaper_type: mzv



#####################################################################
# 	STEPPER
#####################################################################


[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 32  #200 * 16 / 100
endstop_pin: tmc2209_stepper_x:virtual_endstop #^PC0
position_endstop: 180.4
position_min: -2
position_max: 180.4
homing_speed: 50
homing_retract_dist: 0


[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 32  # 200 * 16 / 100
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -3
position_min: -3
position_max: 180
homing_speed: 50
homing_retract_dist: 0
